.form__profile {
    display: flex;
    align-items: center;
}

.form__image {
    margin-right: 40px;
}

.form__img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.form__img--placeholder {
    background-color: #ccc;
}

.form__file-btn {
    display: inline-block;
    font-size: 20px;
    color: var(--color-red);
    border: 1px solid var(--color-red);
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}

.form__input--image {
    display: none;
}
